@media only screen and (max-width: 1199px){
    .container > .row{margin: 0;}
    .clock-inner li{padding: 40px 30px;}
    .trainer-image figure{width: 212px;}
    .client-image figure{width: 109px;}
    .client-desc h4{margin-bottom: 10px;}
    .blog-content{padding: 36px 30px;}
    .blog-img figure{width: 470px;height: 100%;}
    .contact-info li address,.contact-number a,.contact-number span{font-size: 18px;line-height: 25px;}
    .contact-info li i{font-size: 20px;}
    .contact-info li address, .contact-info li .contact-number{width: calc(100% - 40px);}
    .contact-info{margin-bottom: 30px;}
    .client-info{padding: 25px 25px;}
    .reach-us address{width: calc(100% - 19px) !important;vertical-align: middle;}
    .serivces-link{top: 72px !important;}
    .social-icon a{margin-right: 25px;}
    .immg1{margin: 0;}
}

@media only screen and (max-width: 991px){
    .client-info{padding: 30px 30px;margin-bottom: 20px;}
    .trainer-image figure{width: 100%;}
    .trainers-section{margin-bottom: 25px;}
    .registration-info{margin-bottom: 60px;}
    .clock-inner{margin-top: 40px;}
    .course-image figure{width: 220px;height: 100%;}
    .course-content{padding: 20px;}
    .course-name{font-size: 13px;}
    .meta-info{margin-top: 10px;}
    .feature-list{padding: 20px 20px;}
    .blog-img figure {width: 355px;padding: 80px 0;}
    h4{line-height: 25px;font-size: 18px;}
    h2,.registration-info h2{font-size: 32px;line-height: 34px;}
    .features-section{padding: 60px 0;}
    .main-title{margin-bottom: 30px;}
    .tag{margin-bottom: 10px;}
    .submit-btn{text-align: center;display: inline-block;float: none;}
    .submit-btn .btn{width: auto;float: none;display: inline-block;padding: 10px 10px;}
    .client-image figure {width: 100%;height: 100%;}   
    .features-section,.trainer-area,.about-area,.contact-area{padding: 40px 0;}
    .registration-area{padding: 50px 0;}
    .popular-courses {padding-bottom: 40px;}
    .blog-img figure{width: 100%;padding: 0;}
    .reach-us address{width: calc(100% - 19px) !important;vertical-align: middle;}
    .register-course,.register-form{width: 48%;}
    .register-form{padding: 51px 51px;}
    .register-course{padding: 54px 20px;}
    .client-section{padding-bottom: 50px;}
    .register-form1{float: right;margin: 0;width: 48%;}
    .immg1{margin: 0;width: 100%;height: 236px;}
}

@media only screen and (max-width: 767px){
    /* .header{background-color: #868686;} */
    .header-menu li{float: left;width: 100%;padding: 0;}
    .feature-list,.courses-info,.trainers-section{margin-bottom: 20px !important;}
    .trainers-section{margin-bottom: 20px;}
    /* .trainers-section:last-child{margin-bottom: 0px;} */
    .course-image figure{width: 100%;}
    .price{width: 55px;height: 55px;line-height: 56px;top: -28px;}
    .clock-inner li{padding: 20px 9px;margin-right: 10px;}
    .counts{font-size: 12px;}
    .client-image figure{width: 200px;height: 100%;float: none;display: inline-block;}
    .banner-content h1{font-size: 32px;line-height: 35px;}
    .learn-more,.see-course{padding: 10px 15px;}
    .header-menu li{margin-right: 0;margin-bottom: 10px;}
    .header{padding: 10px 0;}
    .navbar-right{margin-top: 15px;width: 100%;}
    .header-menu li a{line-height: 20px;}
    .blog-img figure {width: 100%;padding: 0;}
    .about-area {padding: 50px 0;}
    .main-title{margin-bottom: 30px;}
    .footer{padding: 40px 0;}
    .footer h4{margin-bottom: 10px;}
    .footer ul li{margin-bottom: 5px;}
    .input-field{margin-bottom: 20px;}
    .contact-info li address,.contact-number a,.contact-number span{font-size: 14px;line-height: 20px;}
    .contact-area{padding: 60px 0;}
    .contact-submit-btn{text-align: center;}
    .contact-submit-btn .submit-btn{float: none;display: inline-block;width: auto;}
    .registration-info p{font-size: 13px;}
    .banner-content{min-height: 360px;}
    .navbar-nav .open .dropdown-menu>li>a{line-height: 10px;}
    .copy-right-info{margin-bottom: 5px;}
    .copy-right-wrapper:last-child .copy-right-info{margin-bottom: 0;}
    .copy-right{text-align: center;}
    .copy-right p{font-size: 14px;line-height: 20px;}
    .registration-info{margin-bottom: 30px;}
    .submit-response{padding: 0;}
    .register-form{padding: 30px 30px;}
    .navbar-toggle{padding: 24px 10px;}
    .feature-list{min-height: 0;}
    .trainer-text,.course-content{padding: 20px 25px;float: none;display: inline-block;text-align: center;width: 238px;}
    .trainers-section,.courses-info{display: inline-block;text-align: center;float: none;padding: 20px 0;}
    .trainer-image figure,.course-image figure {width: 235px;height: 100%;float: none;display: inline-block;}
    .trainer-image,.course-image{float: none;display: inline-block;text-align: center;width: 100%;}
    .course-name{text-align: left;}
    .client-image {float: none;display: inline-block;text-align: center;}
    .client-desc.full-width {width: 280px;float: none;display: inline-block;max-width: 100%;}
    .client-info{text-align: center;margin-bottom: 15px;padding: 10px 0;}
    .client-desc p{font-size: 13px;line-height: 20px;}
    .register-course,.register-form,.register-course h3{width: 100%;}
    .register-course{margin-bottom: 30px;}
    .register-course{padding: 30px 20px;}
    .register-form{padding: 30px 16px;}
    .submit-btn,.register-form-contact-section{margin-top: 0;}
    .register-form1{margin: 0;width: 100%;}
    .immg1{widows: 100%;height: 100%;margin: 0;}
}